streamlit
langchain
langchain-community
chromadb
transformers
sentence-transformers
easyocr
pytesseract
youtube-transcript-api
beautifulsoup4
requests
nltk
dotenv
PyMuPDF
docx2txt
Pillow
python-dotenv
torch